 <script>history.go(-1);</script>




  echo '</td>';
 echo '<td bgcolor=#0000CC width=1>';
     echo '</td>';
 echo '</tr>';
 echo '<tr bgcolor=#0000CC>';
     echo '<td bgcolor=#0000CC width=1>';
         echo '</td>';
     echo "<td><div align=center><span style="color: #FFFFFF; font-family: $v_font; ">&nbsp</span></div></td>";
     echo '</tr>';
 echo '</table>';


 <td><div align=center><span style="color: #FFFFFF; font-family: $v_font; ">&nbsp</span></div></td>


 <div style="text-align: center;"><H2>%s</H2></div>\n
<!--<font size=1>-->
 <span style="font-size: xx-small; "><strong>" . _AM_LEXIKON_PERMFORM . "</strong></span>

 <span style='font-size: x-small; '></span>

 "<td class='even' align='center'><br><strong><span style='font-size: x-small; color: red; '>"
<!--<font size=2>     -->
     <span style='font-size: x-small; '>

         <span style="font-size: x-small; color: red; ">

<!--<font size="3">             -->
<span style="font-size: small; ">

    <span style="color: #ffffff; ">Close</span></a><br><br>

    <div style='font-style:bold;color:red;'>Framework und/oder XoopsEditorPack nicht installiert!</div>

    <div align=center><span style="color: #FFFFFF; font-family: $v_font; ">&nbsp</span></div>

    <span bgcolor=white style="color: red;  font-weight: bold;">$p_error_string</span>

    <span style="font-size: small; color: #FFFFFF; font-family: $v_font; ">Trace</span>

    "<span style='font-size: xx-small; font-family: $v_font; '>" . basename($g_pcl_trace_entries[$i]['file']) . '</span>

 <td width=5></td>

 <div align=center><span style='color: #FFFFFF; font-family: $v_font; '>&nbsp</span></div>


 <b>XooAppModException: </b><span style='color: \"#ff0000\"; '>$message</span>


 <span style="color: #FF0000; font-size: x-large;  font-weight: bold;">--- Global Settings ---</span>
