<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    </head>
    <body>
        <h1 style="text-align:center">檔案管理</h1>
        <hr>
        <div class="container">
            <div class="row">
                <form action="../remove_sb2.php" method="POST">
                    <div class="form-group">
                        <{foreach from=$filenames item=filename}>
                        <label for="" class="label">
                            <{$filename}>
                        </label>
                        <div class="checkbox">
                            <input type="checkbox" />

                        </div>
                        <{/foreach}>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>