<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<script type="text/javascript" src='sb2-js/script/ZipFile.complete.js'></script>
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/rgbcolor.js"></script> 
		<script type="text/javascript" src="http://canvg.googlecode.com/svn/trunk/canvg.js"></script> 
		<script type="text/javascript" src="sb2-js/script/sb2.js"></script> 
	</head>
	<body>
	<div class="container" style="text-align: center;">
		<div class="row">
			<canvas id='scratch' width='486' height='391' tabindex='1'>
			 
			</canvas>
		</div>
		<div class="row">
			<div class="col-md-8">
				<select id="urlToLoad" class="form-control">

			<option>---TESTS (incomplete)---</option>
			<option>exectest.sb2</option>

			<option>---PERFECT---</option>
			<option>MarioBros.sb2</option>
			<option>LINE Tennis.sb2</option>
			<option>ContrastHQ.sb2</option>
			<option>coin.sb2</option>
			<option>scratchcraft.sb2</option>
			<option>line.sb2</option>
			<option>3d.sb2</option>
			<option>test.sb2</option>
			<option>variablepong.sb2</option>
			<option>not fez.sb2</option>
			<option>caramia.sb2</option>
			<option>pokemonmusic.sb2</option>
			<option>nyan.sb2</option>
			<option>fractal.sb2</option>
			<option>summer.sb2</option>
			<option>nyansync.sb2</option>

			<option>---PLAYABLE---</option>
			<option>sketch.sb2</option>
			<option>scratchkart.sb2</option>
			<option>SuperYoshiBros.sb2</option>

			<option>---MESH---</option>
			<option>linemesh.sb2</option>
			<option>mariomesh.sb2</option>
			<option>meshpaint.sb2</option>

			<option>---STUFF---</option>
			<option>yay.sb2</option>
			<option>follow.sb2</option>

			<option>---TESTS (complete)---</option>
			<option>speed.sb2</option>
			<option>stamptest.sb2</option>
			<option>saytest.sb2</option>
			<option>variabletest.sb2</option>
			<option>waittest.sb2</option>
			<option>repeattest1.sb2</option>
			<option>repeattest2.sb2</option>
			<option>clonetest.sb2</option>
			<option>asktest.sb2</option>
			<option>touchingMouseTest.sb2</option>
			<option>rotcollisiontest.sb2</option>
			<option>broadwaittest.sb2</option>
			<option>pencolor.sb2</option>

			<option>advbroadcast.sb2</option>


			</select>
			</div>
			<div class="col-md-4">
			<input	onclick='ReadFile("get_sb2.php?filename=summer.sb2")' 
			type='button' 
			title='Play' 
			class='form-control'
			value='Play'/>				
			</div>
		</div>
	</div>	
	</body>
</html>